.col-md-4 {
  background-color:#7c8ca8;
  height:200px;
  font-family: 'Roboto', sans-serif;
}

.col-md-8 {
  background-color:#b6c0d3;
  height:200px;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}

.col-md-12 {
  padding:0px;
  background-color:#8baee8;
}

.col-md-12 ul {
  font-family: 'Exo', sans-serif;
  margin-left:0;
  padding-left:0;
  list-style:none;
}
